<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Chinook Customers</title>
</head>
<body>
    <div>
        <h1>Navigation</h1>
        <ul>
            <li><a href="#">Customer list</a></li>
            <li><a href="/add">Add Customer</a></li>
        </ul>
    </div>
    <div>
        <h1>Customer list</h1>
        <ul th:each="cust: ${customers}">
            <li th:text="${cust.getCustomerFirstname()}"></li>

        </ul>
    </div>

</body>
</html>